/* reset and custom style classes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size: 18px;
    font-family: var(--ff-paragraph);
    color: var(--clr-ebony);
    scroll-behavior: smooth;
}

h1, h2 {
    font-family: var(--ff-title);
}

h3, h4 {
    font-family: var(--ff-sub-title);
}

body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
    font-family: var(--ff-paragraph);
    position: relative;
    background-color: var(--clr-midnight);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

h1, h2 {
    font-family: var(--ff-title);
}

#root, #__next {
    isolation: isolate;
}

/* background image styling */
/* container:after {
    content: '';
    position: absolute;
    background-color: var(--clr-blue-dark);
    inset: 0;
    z-index: -1;
    opacity: .9; */
    /* goes in parent selector => */
    /* position: relative;
    isolation: isolate;
} */

/* Root Styles */
:root {
    /* colors */
    /* Darks */
    --clr-black-pearl: #121416;
    --clr-black-russian: #1e2024;
    --clr-ebony: #2e3238;
    --clr-cloud-burst: #393e46;

    --clr-midnight: #222c39;
    --clr-licorice: #2d3949;

    /* whites */
    ---clr-white: #fcfcfc;
    --clr-snow: #fafafa;
    --clr-whisper: #ededed;
    --clr-cotton: #fbfbf9;


    /* ascent */
    --clr-ascent-one: #00D1CD;
    --clr-ascent-two: #00ADB5;

    
    /* fonts */
    --ff-title: 'Libre Franklin', sans-serif;
    --ff-sub-title: 'Overpass', sans-serif;
    --ff-paragraph: 'Hind', sans-serif;

    --line-height-lrg: 62px;
    --line-height-sml: 28px;

    --transition: 200ms ease-in-out;
    --transition-two: 400ms ease-in-out;
    --transition-three: 600ms ease-in-out;

}

/* general styles */

.grid {
    width: 100%;
    display: grid;
}

.flex_row {
    display: flex;
    flex-wrap: wrap;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.center_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center_grid {
    width: 100%;
    display: grid;
    place-content: center;
}

.inactive {
    display: none;
}

.btn_press {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--clr-white-three);
}

section {
    min-height: 100vh;
    padding: 1em;
    overflow: hidden;
}

/* header */
header {
    align-items: center;
}

.hamburger {
    position: fixed;
    z-index: 5;
    bottom: .5em;
    height: 4rem;
    width: 4rem;
    padding-top: .3em;
    padding-bottom: .3em;
    background-color: var(--clr-licorice);

    justify-content: space-around;
    align-items: center;

    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.patty {
    width: 3rem;
    height: .3rem;
    border-radius: .2rem;
    background-color: var(--clr-snow);
}

.nav_desktop {
    display: none;
}

.nav_mobile {
    position: fixed;
    left: 100%;
    height: 100%;
    width: 100%;
    z-index: 3;

    justify-content: center;
    align-items: center;
    background-color: var(--clr-cotton);
    transition: var(--transition-two);
}

.nav_mobile a {
    text-align: center;
    font-size: 2rem;
    margin: 1em auto;
    border: 2px solid var(--clr-black-pearl);
    width: 8rem;
    transition: var(--transition);
}

.nav_mobile a:active {
    border-color: var(--clr-ascent-two);
}

/* hero section */

.hero .left_col {
    grid-row: 2 / 3;
    text-align: center;
    align-items: center;
    gap: .5em;
    background-color: var(---clr-white);
}

h2 {
    display: flex;
}

h2 div:nth-child(2) {
    margin-inline: .5em;
}

.btn_container {
    position: relative;
}

.btn_cv {
    font-family: var(--ff-sub-title);
    font-weight: bold;
    padding:  .2em .5em;
    border: none;
    border-radius: .3rem;
    background-color: var(--clr-ascent-one);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: var(--transition);
}

.btn_cv:hover {
    background-color: var(--clr-ascent-two);
}

.btn_cv:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.hero .right_col {
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: var(---clr-white);
}

.img_container {
    background-color: var(--clr-licorice);
    box-shadow: rgba(0, 0, 0, 0.3) 10px -10px 70px 4px;
}

.hero_img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
}

.icons_container {
    display: none;
}

.index_container {
    display: none;
}

/* bio section */
.bio .right_col {
    align-items: center;
    text-align: center;
    gap: 1em;
    background-color: var(---clr-white);
}

.bio .left_col {
    justify-content: center;
    align-items: center;
    background-color: var(---clr-white);
}

.bio .icons_container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
}

.icons_container i {
    display: flex;
    align-items: center;
    height: 1.7rem;
    background-color: rgb(255, 255, 255);
    font-size: 2rem;
    color: var(--clr-ascent-one);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

@media screen and (min-width: 768px) {
    section {
        gap: 2em;
    }

    .hamburger {
        display: none;
    }

    header {
        position: absolute;
        z-index: 3;
        width: 100%;
        transform: translateY(100%); 
        padding-inline: 5em;
        align-items: flex-end;
    }

    .nav_mobile {
        display: none;
    }

    .nav_desktop {
        display: flex;
        width: 40%;
        justify-content: space-between;
    }

    .hero {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100%;
        gap: 0;
    }

    .hero .left_col {
        grid-column: 1 / 2;
        grid-row: 1;

        text-align: left;
        justify-content: center;
        align-items: flex-start;
        gap: 1em;
        padding-left: 1em;
    }



    /* .btn_container::after {
        position: absolute;
        content: '';
        width: 25rem;
        height: 3rem;
        
        border-bottom: 2px solid var(--clr-ebony);
        border-left: 2px solid var(--clr-ebony);
    } */

    .hero .right_col::before {
        position: absolute;
        content: '';
        /* transform: translateX(-3%); */
        width: 17rem;
        height: 25rem;
        z-index: 1;
        border: 2px solid var(--clr-ebony);
    }  

    /* .left_col i {
        color: var(--clr-licorice);
        font-size: 2rem;
    } */

    .right_col {
        position: relative;
        grid-column: 2 / 3;
        flex-direction: row;
        justify-content: center;
    }

    .hero_img {
        width: 250px;
        height: 350px;
    }

    .hero .icons_container {
        position: absolute;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-self: center;
        transform: translateX(500%);
        height: 7rem;
        justify-content: space-between;
    }

    .index_container {
        height: 10rem;
        position: absolute;
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;

        transform: translateY(130%);
    }

    .diamond {
        margin-left: 2em;
    }

    .diamond::before {
        position: absolute;
        content: '';
        left: .3em;
        margin-top: .3em;
        width: 1rem;
        height: 1rem;
        background-color: var(--clr-cloud-burst);
        opacity: .5;
        transform: rotate(45deg);
    }

    /* bio section */

    .bio {
        gap: .5em;
    }

    .bio .img_container {
        margin-inline: 1em;
        box-shadow: none;
    }

    .bio .hero_img {
        width: 300px;
        height: 400px;
        object-fit: cover;
    }

    .bio .right_col {
        flex-direction: column;
        padding: 2em;
    }

    .bio .icons_container {
        width: 40%;
    }

}

@media screen and (min-width: 1024px) {
    section {
        padding-inline: 3em;
    }
}

/* javascript transitions */
.toggle_nav {
    left: 0;
}